<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{this.ship.name}}</mat-card-title>
      <mat-card-subtitle>{{this.ship.model}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="this.ship.imageUrl" alt="Photo of a ship">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
