<main [@animate]="{ value: '*', params: { y: '50px', delay: '400ms' } }">
    <div class="row h-100 justify-content-center mt-4">
        <h2>Massimo Dutti &nbsp; </h2>
        <h2 class="font-italic">Star Wars &nbsp; </h2>
        <h2>Ships</h2>
    </div>
    <ng-container *ngIf="ships$ | async; else loading">
        <div class="row d-flex justify-content-center align-items-center p-3">
            <div class="col-sm-6 col-md-4 mt-4" *ngFor="let ship of (ships$ | async)">
                <app-starship [ship]="ship"></app-starship>
            </div>
        </div>

        <mat-paginator class=" d-flex justify-content-center" #matPaginator [pageSizeOptions]="[10]"
            [length]="pagination.total" [pageIndex]="pagination.page" (page)="changePage($event)">
        </mat-paginator>

    </ng-container>
    <ng-template #loading>
        <div class="col d-flex justify-content-center mt-4 mb-4 ">
            <p class="m-0 ">No hay naves disponibles</p>
        </div>
    </ng-template>
</main>