main{
  height:100%;
}

#loginImage {
  background-color: #4b4b4b;
  background-image: url("/assets/images/backgrounds/FOTOLOGIN.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom-width: 5px;
  border-color: #e0dd00;
  border-bottom-style: solid;
  //ATENTTION
  padding: 0;
}

// #image-color {
//     height: 100%;
//     width: 100%;
//     background-color: rgba(75, 75, 75, 0.85);
// }

#logo-area {
  height: 7em;
  transition: all 0.25s;
}

#logo {
  background-image: url("/assets/images/logovgedv-GAS.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 0.25s;
}

.slide-toggle-input label {
  //   color: rgba(0, 0, 0, 0.6);
  color: rgb(111, 113, 124);
  font-size: 13px;
}

mat-error{
  font-size: 0.8em;
}