<main [@animate]="{ value: '*', params: { y: '50px', delay: '400ms' } }">
  <div class="row h-100 w-100 d-flex align-items-center justify-content-center">
    <div class="col-md-12">
      <div class="d-flex flex-column align-items-center">
        <img class="logo" src="./assets/images/logo.png" alt="">
        <p class="mb-0 mt-4"><img class="logo-slogan--image" src="./assets/images/sw_logo.png" alt=""></p>
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="row d-flex justify-content-center">
        <h3 class="font-weight-bold">Login Massimo Dutti Star Wars</h3>
    </div>
      <div class="row d-flex justify-content-center mt-4">

        <div class="col-xs-6 col-md-5 col-sm-8">

          <form [formGroup]="loginForm">
            <div class="row">

              <!-- Username -->
              <div class="col-md-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Usuario</mat-label>
                  <input matInput placeholder="Usuario" formControlName="userName">
                </mat-form-field>
              </div>
            </div>

            <div class="row">

              <!-- Password -->
              <div class="col-md-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input matInput placeholder="Contraseña" formControlName="password" type="password">
                </mat-form-field>
              </div>
            </div>

            <mat-error *ngIf="loginForm.hasError('wrong-credentials')"
              [@animate]="{ value: '*', params: { x: '50px', delay: '100ms' } }">
              * Usuario / password <strong>incorrecto </strong>
            </mat-error>

            <div class="row">

              <div class="col-md-12">
                <div class="d-flex justify-content-center mt-5"
                  [@animate]="{ value: '*', params: { x: '50px', delay: '100ms' } }">
                  <button (click)="login()" mat-raised-button class="ml-2" color="primary"
                    [disabled]="loginForm.invalid">Login</button>
                  <button (click)="signUp()" mat-raised-button class="ml-2" color="accent">Registrar</button>
                </div>
              </div>

            </div>

          </form>

        </div>

      </div>

    </div>

  </div>
</main>