<div class="error">
    <div class="row">
        <div class="col-12">
            <h1>Página no encontrada</h1>
            <h3 class="mt-2">Lamentablemente, no hemos podido encontrar la página que estaba buscando. Si escribió una URL, asegúrese
                de haberla ingresado correctamente. También es posible que la página que está buscando se haya movido o
                eliminado.</h3>
            <h4 class="mt-4">Código de error: {{error}}</h4>
        </div>
        <div class="col-12 d-flex justify-content-end mt-4">
            <button class="btn__primary mt-4" [routerLink]="['/']">Volver</button>
        </div>
    </div>
</div>